{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2 style="color:#323B3B">Profil Pacjenta</h2>
    <p>Imię: {{ pacjent.imie }}</p>
    <p>Nazwisko: {{ pacjent.nazwisko }}</p>
    <p>PESEL: {{ pacjent.PESEL }}</p>

    <a href="{% url 'edytuj_profil_pacjenta' %}" class="btn btn-info" style="background-color:#73E8E7">Edytuj Profil</a>

    <h3 style="color:#323B3B">Konsultacje</h3>
    <div class="konsultacje-container">
        <ul style="color:#323B3B">
            {% for konsultacja in konsultacje %}
            <li>
                Data: {{ konsultacja.data_konsultacji|date:"d M Y H:i" }}
                <br>Opis: {{ konsultacja.opis_problemu }}
                <a href="{% url 'szczegoly_konsultacji' konsultacja.id %}">Zobacz szczegóły</a>
            </li>
            {% empty %}
            <li>Brak zaplanowanych konsultacji</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
