{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <h2 style="color:#323B3B">Dodaj Konsultację</h2>
    <form method="post">
        {% csrf_token %}
        {{ search_form.as_p }}
        <button type="submit" class="btn btn-primary" style="background-color:#0FA59A">Wyszukaj Pacjenta</button>
    </form>
    <hr>
    {% if konsultacja_form %}
    <form method="post">
        {% csrf_token %}
        {{ konsultacja_form.as_p }}
        <input type="hidden" name="add_konsultacja" value="1">
        <button type="submit" class="btn btn-success">Dodaj Konsultację</button>
    </form>
    {% endif %}
</div>
{% endblock %}
